In [1]:
import os
import glob
import pandas as pd

In [7]:
DATA_DIR = "../data/char_dataset/archive"

d_english = pd.read_csv(os.path.join(DATA_DIR, 'english.csv'))

d_english.columns

Index(['image', 'label'], dtype='object')

In [2]:
d_english.image = d_english.image.apply(lambda x: os.path.join(DATA_DIR, x).replace('\\', '/'))

augmented_paths = glob.glob(os.path.join(DATA_DIR, 'augmented', '*', '*'))

d_augmented = pd.DataFrame(augmented_paths, columns=['image'])

d_augmented.image = d_augmented.image.apply(lambda x: x.replace('\\', '/'))

d_augmented['label'] = d_augmented.image.apply(lambda x: x.split('/')[-2])

d_dataset = pd.concat((d_english, d_augmented), axis = 0, ignore_index=True)

In [3]:
d_dataset

                                                  image label
0       ../data/char_dataset/archive/Img/img001-001.png     0
1       ../data/char_dataset/archive/Img/img001-002.png     0
2       ../data/char_dataset/archive/Img/img001-003.png     0
3       ../data/char_dataset/archive/Img/img001-004.png     0
4       ../data/char_dataset/archive/Img/img001-005.png     0
...                                                 ...   ...
8410  ../data/char_dataset/archive/augmented/99/99_5...    99
8411  ../data/char_dataset/archive/augmented/99/99_6...    99
8412  ../data/char_dataset/archive/augmented/99/99_7...    99
8413  ../data/char_dataset/archive/augmented/99/99_8...    99
8414  ../data/char_dataset/archive/augmented/99/99_9...    99

[8415 rows x 2 columns]

In [4]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(d_dataset, test_size=0.2, random_state=42)
# we reset the indices to start from zero
train_df.reset_index(drop=True, inplace=True)
test_df.reset_index(drop=True, inplace=True)

In [5]:
train_df

                                                  image label
0     ../data/char_dataset/archive/augmented/21/21_1...    21
1     ../data/char_dataset/archive/augmented/91/91_7...    91
2       ../data/char_dataset/archive/Img/img037-039.png     a
3       ../data/char_dataset/archive/Img/img004-008.png     3
4     ../data/char_dataset/archive/augmented/40/40_3...    40
...                                                 ...   ...
6727  ../data/char_dataset/archive/augmented/51/51_2...    51
6728  ../data/char_dataset/archive/augmented/41/41_2...    41
6729  ../data/char_dataset/archive/augmented/45/45_0...    45
6730    ../data/char_dataset/archive/Img/img016-036.png     F
6731  ../data/char_dataset/archive/augmented/79/79_1...    79

[6732 rows x 2 columns]

In [11]:
d_english.to_csv('english.txt', sep='\t', index=False, header=False)