In [1]:
import os
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import itertools

import cv2

In [2]:
### generate dataset
### 0-9
### A-Z
### 2 character

In [3]:
DATA_DIR = '../data/char_dataset/archive'

In [4]:
d_dataset = pd.read_csv(os.path.join(DATA_DIR, 'english.csv'))

In [5]:
d_dataset

                   image label
0     Img/img001-001.png     0
1     Img/img001-002.png     0
2     Img/img001-003.png     0
3     Img/img001-004.png     0
4     Img/img001-005.png     0
...                  ...   ...
3405  Img/img062-051.png     z
3406  Img/img062-052.png     z
3407  Img/img062-053.png     z
3408  Img/img062-054.png     z
3409  Img/img062-055.png     z

[3410 rows x 2 columns]

In [6]:
d_dataset.label.value_counts()

0    55
k    55
X    55
Y    55
Z    55
     ..
P    55
Q    55
R    55
S    55
z    55
Name: label, Length: 62, dtype: int64

---

In [7]:
def generated_image_arr(sample):
    
    first = [0, 700]
    middle = [350, 800]
    last = [350, -1]
    
    im_arr_list = []
    for idx, img_path in enumerate(sample):

        im_arr = cv2.imread(os.path.join(DATA_DIR, img_path))
        if idx == 0:
            im_arr = im_arr[:, first[0]:first[1], :]
        elif idx == (len(sample)-1):
            im_arr = im_arr[:, last[0]:last[1], :]
        else:
            im_arr = im_arr[:, middle[0]:middle[1], :]

        im_arr_list.append(im_arr)
        
    return im_arr_list

In [8]:
def save_image(savepath, im_arr_list):
    
    os.makedirs(os.path.dirname(savepath), exist_ok=True)
    im_output = np.concatenate(im_arr_list, axis=1)
    plt.imsave(savepath, im_output)

In [9]:
def generated_main(generated):
    for instance, sample in enumerate(samples):
        savepath = f'{DATA_DIR}/augmented/{number_str}/{number_str}_{instance}.jpg'
        im_arr_list = generated_image_arr(sample)
        save_image(savepath, im_arr_list)

In [10]:
for number in range(10, 101):
    number_str = str(number)
    
    pathsource_list = []
    for c in range(len(number_str)):
        label = number_str[c]
        filepath_list = d_dataset[d_dataset.label == label].image.tolist()
        pathsource_list.append(filepath_list)
        
    candidates = list(itertools.product(*pathsource_list))
    random.shuffle(candidates)
    samples = random.sample(candidates, 55)
    generated_main(samples)